.h1 {
    color: white;
    text-align: center;
}

.p a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: large;
}

.links {
    list-style: none;
    width: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
    gap: 1rem;
}

.links a:hover {
    font-weight: 800;
}